<div id="listing_results">
    <div style="margin-top: 2em; margin-left: auto; margin-right: auto" class="col-md-8 col-xl-8 col-sm-10 col-xs-12">
            <div style="display: inline-block" class="col-md-3 col-xs-3 col-sm-3">
                <div class="dropdown">
                    <button id="sortmenu" class="btn btn-primary dropdown-toggle" type="button" id="sortdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="sortdropdown">
                        <a id="sortNewest" class="dropdown-item">Newest</a>
                        <a id="sortOldest" class="dropdown-item">Oldest</a>
                        <a id="sortLowPrice" class="dropdown-item">Lowest Price</a>
                        <a id="sortHighPrice" class="dropdown-item">Highest Price</a>
                    </div>
                </div>
            </div>
            <div style="display: inline-block" class="col-md-6 col-xs-6 col-sm-6">
                <input type="text" id="filtersearch" name="filtersearch" class="form-control" placeholder="search">
            </div>
            <input id="csrf" type="hidden" name="_csrf" value="{{ csrfToken }}">
    </div>
</div>

