<div id="buysuccess">

    <div class="row">
        <div style="margin: auto; margin-top: 5em" class="card col-xs-8 col-sm-8 col-md-8">
            <div class="card-block">
                <h2><p>You have successfully purchase your product!</p></h2>
                <h3><p>Please check your e-mail for confirmation. Please allow
                2 business days to receive your tracking number and keep
                    an eye on your profile for updates to your order.</p></h3><br />

                <h2><p>Thank you!</p></h2>

                <a href="/profile">Go to Profile</a>
            </div>
        </div>
    </div>
</div>